body {background-color: #0D0630;}
.cont {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 5px;
    
}
.element > .cont {
    background-color: #384E77;
}

ul.elementlist::before{
    content: "";
}
ul.elementlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    transition: 0.1s;
}

li.element {
    list-style-type: none;
    padding-left: 5px;
    position: relative;
    margin-left: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
}

li.element > .cont::before {
    content:'';
    position: absolute;
    left: 9px;
    bottom: calc(100% - 22.5px);
    width: 5px;
    height: 30px;
    border: 2px solid gray;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    z-index: -1;
}
li.element:not(:last-child)::after {
    content:'';
    position: absolute;
    left: 9px;
    top: 0;
    height: 100%;
    width: 5px;
    border: 2px solid gray;
    border-bottom: 0 none transparent;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    z-index: -1;
}
.cont > p.title::before {
    font-weight: normal;
    content: "<";
}
.cont > p.title::after {
    font-weight: normal;
    content: ">";
}
.cont > p.title{
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
    margin-left: -5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.listopen{
    z-index: 1;
    padding: 0 0 0 0;
    margin-left: 4px;
}

.arrow {
    display: inline-block;
    transform: rotate(90deg);
    transition: 0.1s;
    font-size: 25px;
    user-select: none;
    color: black;
    margin-left: -2px;
}
.arrow:hover {
    color: orange;  
}

.add{
    font-size: 25px;
    user-select: none;
    color: black;
}
.add:hover {
    color: greenyellow;  
}

.delete{
    font-size: 25px;
    user-select: none;
    color: black;
    
}
.delete:hover {
    color: red;  
}
*{
    user-select: none;
    cursor: default;
}